<div class="ticket">
    <table class="table">
        <tr>
            <td><label class="form-control" >Title</label></td>
            <td><input type="text" class="form-control" [(ngModel)]="this.ticket.title"></td>
        </tr>
        <tr>
            <td><label class="form-control" >Description</label></td>
            <td><input type="text" class="form-control" [(ngModel)]="this.ticket.description"></td>
        </tr>
        <tr>
            <td><button class="btn btn-success" (click)="RaiseTicket()">Raise Ticket</button></td>
            <td><button class="btn btn-danger">Cancel</button></td>
        </tr>
    </table>
</div>
