#login{
    position:relative;
    border: 5px solid rgb(47, 236, 250);
    left:30%;
    right:40%;
    height:50%;
    width:35%;
    top:10%;
    padding:3%;
    background-color: aliceblue;
}
th,
td {
  text-align: center;
  padding: 5px;
}
#table{
    left:14%;
    position: relative;
    border-spacing: 0 15px;
    border-collapse: separate;
}