th,
tr {
  text-align: center;
  padding: 10px;
} 

#table{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    position:relative;
        left:28%;
        right:40%;
        width:45%;
        top:55%;
        padding:2%;
        
        border-radius: 3%;
}
h1{
  text-align: center;
    font-size: 3em;
    color: #b44593;
}