.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  *{
    position: relative;
    top:-1%;
  }


/* #register{
    position:relative;
    border: 5px solid rgb(47, 236, 250);
    left:30%;
    right:40%;
    height:85%;
    width:35%;
    top:10%;
    padding:3%;
    background-color: aliceblue;
}
#table{
    left:14%;
    position: relative;
    border-spacing: 0 15px;
    border-collapse: separate;
}
th,
td {
  text-align: center;
  padding: 5px;
} */